<!DOCTYPE html>
<html lang="pt_br" xmlns:th="http://www.thymeleaf.org">
	<head> <!-- Início do Header  -->
	    <meta charset="utf-8"/>
	    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
	     <!-- Bootstrap CSS -->
    	<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
	    <link rel="stylesheet" href="css/puc.css"/>
		<script src="https://kit.fontawesome.com/59d868f5b6.js" crossorigin="anonymous"></script>
		<title>TCC PUC Fabricio</title>	
	</head>	<!-- Fim do Header  -->
	
	<body>	<!-- Início do Body  -->
		<div class="container-fluid">
			<h1 class="text-center"><u>Academia PUC</u></h1>
		
			<!-- Container de Links da Barra de Navegação do HTML  -->
			<div class="navegadorSuperior">
				<a class="active"><i class="fas fa-user-cog"></i> <u>Área do Empregado(a)</u></a>
				<div class="navegadorSuperior-right">
					<a href="/listarAlunos"><i class="fas fa-users"></i> Visualizar Relatório de Alunos</a> 
					<a href="/FormulariodeCadastroAluno"><i class="fas fa-user-edit"></i> Cadastrar Novo Aluno(a)</a>
					<a href="/"><i class="fas fa-home"></i> Retornar ao Início</a>
				</div>
			</div>
		
			<br>
				
			<!-- Rodapé -->
			<footer>
	           	<p class="text-muted">@Copyright 2020 PUC</p>
			</footer> <!-- Fim do Footer  -->
		</div>
	</body> <!-- Final do Body  -->
</html> <!-- Final do HTML  -->